{% extends 'base.html' %}

{% block title %} Employee data page {% endblock %}

{% block content %}

    <h1>Employees</h1>
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Date of Joining</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{employee.employee_name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.joining_date}}</td>
            <td>
                <a href="{% url 'update_employee' employee.id %}">Edit</a>
                <a href="{% url 'delete_employee' employee.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}